* {
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.9);
	background-color: #141414;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
}
